.main {
  flex-grow: 1;
  margin-top: 200px;
}

.contact-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group input, .input-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  background-color: #561219;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  max-width: 150px;
  align-self: center;
}